.entryView {
    margin:1em;
    box-shadow: 0.1em 0.1em 0.1em #120029;
    padding: 1em;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 600;
    background-color: #cafcdc;
    border-bottom: solid;
}

