.entryListView {
background-color: #bff2e9;
}

.addEntryButton {

    box-shadow: 0.2em 0.3em #070f09;

    text-align: center;
}

.addEntryButton {

    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
    height: 5em;
    background-color: #dcf5e2;
    font-weight: 900;
    font-size: 1.2em;
    font-family: 'Titillium Web', sans-serif;
    margin: 1em;
}

.addEntryButton > a {
    display:block;
    text-align: center;
    width: 7em; 
}

.addEntryButton:active {
    background-color: #99ffb1;
    box-shadow: 0.1em 0.1em #010550;
    transform: translateY(4px);
}

.buttonLink {
    background-color: #99ffb1;
    box-shadow: 0.1em 0.1em #010550;
    transform: translateY(4px);

}

.editButton {
    background-color: #ba8cff;
    font-size: large;
    width: 5em 
}

.deleteButton {
    background-color: #fc819e;
    font-size: large;
    width: 5em
}
.buttonSection {

    display:flex;
}